@using CarInsuranceQuote.Controllers
@model List<CustomerInfo>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request. Please return to the main page and fill out all required fields.</h2>
    </hgroup>
</body>
</html>
