@using CarInsuranceQuote.Controllers
@using CarInsuranceQuote.Models
@model List<CustomerInfo>


<h2>Success! Here is your free quote!!</h2>

<div class="card-body bg-success img-rounded" style="width: 150px; height: 60px">
    <div class="form-horizontal">
        <h3>$@ViewBag.TotalQuote</h3>
    </div>
</div>





